h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a:hover {
    text-decoration:none;
}

/* Home style */
.home-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/*---- PUT FOOTER AT THE BOTTOM OF THE PAGE -----*/
html, body {
    height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
/*----- FOOTER ----*/
.linkToPopup {
	color: blue;
}
.linkToPopup:hover {
	cursor: pointer;
}
/* MODAL - RULES*/
.modal-header{
    display:block;
}
/*----- GAME ----*/
.game-container {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.game-container #pseudo-input, #hintInput {
    max-width: 200px;
}

/* State message */
#stateMessage {
    height: 100px;
}

.selectedCard {
    position: inherit;
    height: auto;
    z-index: 999;
    transform: scale(1.1);
}

.dxCard:hover {
    position: inherit;
    height: auto;
    z-index: 999;
    transform: scale(1.1);
}

#yourHand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.dxCard {
    width: 200px;
    height: 400px;
    border: solid #a6bcc6 1.2px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    background-color: #e9f8ff;
}

.cardImg {
    width: 100%;
}


#yourHand {
    text-align: center;
}
.hasPlayedIcon {
	width: 16px;
}

#hint {
    height: 100px;
}

#hintText {
	font-size: 20px;
}
.cardOwner {
    overflow: hidden;
    width: 200px;
    height: 28px;
}
.cardAndVotesResult {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.cardVoters {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.cardVoter {
    overflow: hidden;
    width: 200px;
    height: 28px;
}
#cardsAtPlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.cardVerso {
	height: 300px;
	width: 200px;
	background-color: brown;
}
.gameMaster {
	font-weight: bold;
}
#gameMastersCard {
	border: lightBlue thick solid;
}


#defaultCanvas0 {
	visibility: hidden;
}