h1 {
    font-size: 2rem;
    font-family: 'Berkshire Swash', cursive;
}

h2 {
    font-size: 1.5rem;
}

a {
    color:#893bbf ;
}

    a:hover {
        text-decoration: none;
        color: #6c3492;
    }

/* Home style */

.home-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

    .home-container label {
        font-size: 20px;
    }

    .home-container h1, .home-container label {
        font-family: 'Berkshire Swash', cursive;
    }

.btn-secondary {
    background-color: #422159;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
        background-color: #331945;
    }

.form-control {
    background-color: rgba(255, 255, 255, 0.7);
}

    .form-control placeholder {
        color: red;
    }


/*---- PUT FOOTER AT THE BOTTOM OF THE PAGE -----*/
html, body {
    height: 100%;
}
.homeBG {
    display: flex;
    flex-direction: column;
    background-image: url(img/bg-diximac.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
/*----- FOOTER ----*/
.footer {
    background-color: rgba(255, 255, 255, 0.7);
}
.linkToPopup {
	color: blue;
}
.linkToPopup:hover {
	cursor: pointer;
}
/* MODAL - RULES*/
.modal-header{
    display:block;
}
/*----- GAME ----*/
.game-container {
    width: 100%;
    min-height:100%;
    padding: 15px;
    margin: auto;
    background-image: url(img/bg-game.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.game-container #pseudo-input {
    max-width: 200px;
}

.game-container {
    
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    background-color: rgb(255, 237, 181);
    box-shadow: 2px 5px 17px #00000059;
}

    .sidebar::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }


.infos-box {
    margin-top: 25px;
    margin-bottom: 25px;
}

.infos-box h1{
    font-size: 25px;
}

.board {
    margin-left: auto !important;
}

.board h1 {
    color: white;
}

.playerName, .gameMaster {
    word-wrap: break-word;
}

/* State message */
#stateMessage {
   min-height: 150px;
}

.dxCard:hover, .selectedCard {
    position: inherit;
    z-index: 999;
    transform: scale(1.3);
}

.cardAndVotesResult .dxCard:hover, .cardAndVotesResult .selectedCard {
    height: 250px;
    transform: unset;
}

#yourHand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.handHeight, .boardHeight {
    min-height: 400px;
}

.dxCard {
    width: 150px;
    height: 250px;
    border-radius: 10px;
    margin: 4px;
    padding: 10px;
    background-color: rgb(255, 237, 181);
    transition-duration: 0.4s;
}

.dxCardInfos .author {
    line-height: 16px;
    font-size:12px;
}

.cardImg {
    width: 100%;
}


#yourHand {
    text-align: center;
}
.hasPlayedIcon {
	width: 16px;
}

.alert-warning {
    background-color: #dca9ff;
    border-color: #bc8fda;
    color: black;
}

#hint {
    width: 300px;
}

#hintText {
	font-size: 18px;
}
.cardOwner {
    overflow: hidden;
    width: 200px;
    height: 28px;
}
.cardAndVotesResult {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.cardVoters {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.cardVoter {
    overflow: hidden;
    width: 200px;
    height: 28px;
}
#cardsAtPlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.cardVerso {
    width: 150px;
    height: 250px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    background-color: rgb(255, 237, 181);
    background-image: url(img/motifIMAC.png);
    background-size: 66px;
}
.gameMaster {
	font-weight: bold;
}
#gameMastersCard {
    background-color: #bdffb9;
}

#defaultCanvas0 {
	visibility: hidden;
}