.selectedImage {
	border: yellow thick solid;
}
.cardImg {
	width:200px;
	/*margin: 10px;*/
	/*position:absolute;*/
	/*top: 0;
	left: auto;*/
}
.cardImg:hover {
	position:relative;
    width:500px;
    height:auto;
    z-index:999;
    /*transform: scale(2.5);*/
}
.cardsList {
	/*position:relative;*/
}
#cardsAtPlay {
	background: pink
}
#yourHand {
	background: black
}
.cardOwner {
	font-size: 25px;
}
.cardAndVotesResult {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
#cardsAtPlay {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.gameMaster {
	background-color: lightBlue;
}
#gameMastersCard {
	border: blue thick solid;
}